.cart {
    margin: 25px 50px 10px auto;
    width: 25px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: bisque;
   
}

.cart:hover{
    background-color: rgba(107, 107, 167, 0.552);
}